<div class="form-group">
  <%= f.label :password, "Choose Password" %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>
</div>
