<h1>change password</h1>
<div class="row">
  <div class="col-sm-7">
    <%= render partial: 'password_form', locals: { action: "Change Password", fields: "password_fields" } %>
  </div>
  <div class="col-sm-5">
    <div class="row top-buffer">
      <div class="col-sm-12">
        <%= link_to 'Cancel', @user, class: "btn btn-lg btn-default btn-block" %>
      </div>
    </div>
  </div>
</div>
