<h1>edit account details</h1>
<div class="row">
  <div class="col-sm-7">
    <%= render partial: 'form', locals: { action: "Save Changes", fields: "account_fields" } %>
  </div>
  <div class="col-sm-5">
    <div class="row top-buffer">
      <div class="col-sm-12">
        <%= link_to 'Cancel', @user, class: "btn btn-lg btn-default btn-block" %>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-sm-12">
        <%= link_to 'Delete Account', @user, data: { method: :delete, confirm: 'Are you sure?' }, class: "btn btn-lg btn-danger btn-block" %>
      </div>
    </div>
  </div>
</div>
