<span class="label label-default share"><%= link_to content_tag(:span, "", class: "fui-cross-circle"), authorization, method: :delete %>
<%= link_to authorization.full_name, authorization.user %></span>
