<span class="label label-default share"><%= link_to content_tag(:span, "", class: "fui-cross-circle"), deauthorize_sound_path(@sound, user_id: share.id), method: :delete %>
<%= link_to share.first_name, share %></span>
