<div class="row">
  <div class="col-sm-5">
    <h1>upload a new sound</h1>
  </div>
  <div class="col-sm-7">
    <%= render 'form' %>

  </div>
</div>

<div class="row">
  <div class="col-sm-12 top-buffer">
    <p>Preview</p>
    <%= render partial: 'waveform', locals: { sound: @sound } %>
  </div>
</div>
