<div class="row">
  <div class="col-sm-5">
    <h3><%= @sound.name %></h3>
  </div>
  <div class="col-sm-7">
    <h4>share with: </h4>
    <ul>
      <% @users.each do |user| %>
        <li><%= link_to user.full_name, share_sound_path(sound_id: @sound.id, user_id: user.id), method: :post %></li>
      <% end %>
    </ul>
  </div>
</div>
