// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wave {
  border: 1px solid black;
  text-align: center;
  position: relative;
}

#wave i {
  // margin: auto;
  // position: absolute;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
}

// .spinning {
//   animation: spinner 1s linear infinite;
// }
//
// @keyframes spinner {
//   0% {
//     transform: rotateZ(0deg);
//   }
//
//   100% {
//     transform: rotateZ(360deg);
//   }
// }
