// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wave {
  text-align: center;
  position: relative;
}

#wave i {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

#progress {
  display: none;
}

progress {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 20px;

  margin: 10px 0;
}

progress::-webkit-progress-bar {
  border-radius: 5px;
}

progress::-webkit-progress-value {
  background-color: #16a085;
  border-radius: 5px;
}

#sound_audio::-webkit-file-upload-button {
  visibility: hidden;
}

#sound_audio {
  border: 3px dashed #ddd;
  padding: 30px;
  cursor: pointer;
  text-align: center;
  color: rgba(255,255,255,0);
  text-align: center;
  width: 100%;
  -webkit-user-select: none;
}

#sound_audio::before {
  content: '\A Drop File / Click to Choose';
  display: block;
  outline: none;
  white-space: pre;
  -webkit-user-select: none;
  color: #16a085;
  text-align: center;
}

#sound_audio:hover {
  border-color: #333;
}
