// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.multiselect {
  width: 100%;
}

h2 span {
  color: #D35400;
}

.users > div {
  border-bottom: 2px solid #95A5A6;
  padding: 20px 0;
}

.users > div:last-of-type {
  border-bottom: none;
}
